{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Библиотечный фонд</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">Библиотечный фонд</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Вы авторизованы как: {{ request.user.username }}</a></li>
                <li><a href="/admin/logout/">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li {% if request.resolver_match.view_name == 'index' %}class="active"{% endif %}>
                    <a href="{% url 'index' %}">Главная</a>
                </li>
                <li {% if request.resolver_match.view_name == 'client_page' %}class="active"{% endif %}>
                    <a href="{% url 'client_page' %}">Новый клиент</a>
                </li>
                <li {% if request.resolver_match.view_name == 'create_book_page' %}class="active"{% endif %}>
                    <a href="{% url 'create_book_page' %}">Добавить книгу</a>
                </li>
                <li {% if request.resolver_match.view_name == 'fond_stats_page' %}class="active"{% endif %}>
                    <a href="{% url 'fond_stats_page' %}">Содержание фондов</a>
                </li>

            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                {% block page_name %}
                {% endblock %}
            </h1>

            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>