{% extends 'base.html' %}

{% block page_name %}
    {{ book.name }}, {{ book.year }} год
{% endblock %}

{% block content %}
    <p>Автор: {{ book.author }}</p>
    <p>Жанр: {{ book.genre }}</p>
    <p>Год выпуска: {{ book.year }}</p>
    <p>Количество страниц: {{ book.pages }}</p>
    <p>Статус: {{ book.status }}</p>
    <p>Тип издания: {{ book.display_type }}</p>
    <p>Фонд: {{ book.fond.name }}</p>

    <button class="btn btn-info">Назад</button>
    {% if book.fond.is_base %}
        <a href="{% url 'book_to_reserve' book.id %}">
            <button class="btn btn-info">В резерв</button>
        </a>
    {% elif book.fond.is_reserve %}
        <a href="{% url 'book_to_base' book.id %}">
            <button class="btn btn-info">В основной фонд</button>
        </a>
    {% endif %}
    
    {% if book.is_busy %}
        <a href="{% url 'return_book' book.id %}">
            <button class="btn btn-info">Вернуть книгу</button>
        </a>
    {% else %}
        <a href="{% url 'give_book_page' book.id %}">
            <button class="btn btn-info">Выдать книгу</button>
        </a>
    {% endif %}
{% endblock %}