{% extends 'base.html' %}

{% block page_name %}
    Добавление новой книги
{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'create_book_page' %}">
        {% csrf_token %}
        <div class="form-group col-xs-6">
            <label for="author">Автор: </label>
            <input class="form-control" type="text" id="author" name="author">

            <label for="name">Название: </label>
            <input class="form-control" type="text" id="name" name="name">

            <label for="genre">Жанр: </label>
            <input class="form-control" type="text" id="genre" name="genre">

            <label for="year">Год издания: </label>
            <input class="form-control" type="number" id="year" name="year">

            <label for="type">Тип издания: </label>
            <select class="form-control" name="type" id="type">
                {% for name, id in types.items %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>

            <label for="pages">Количество страниц: </label>
            <input class="form-control" type="text" id="pages" name="pages">

            <label for="fond">Фонд: </label>
            <select class="form-control" name="fond" id="fond">
                {% for fond in fonds %}
                    <option value="{{ fond.id }}">{{ fond.name }}</option>
                {% endfor %}
            </select>

            <br>
            <button type="submit" class="btn btn-info">Добавить</button>
        </div>
    </form>
{% endblock %}