{% extends 'base.html' %}

{% block page_name %}
    Содержание фондов
{% endblock %}

{% block content %}
    {% for fond, books in fonds.items %}
        <h3>{{ fond.name }}</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td><a href="{% url 'detail_book' book.id %}">{{ book.name }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}