{% extends 'base.html' %}

{% block page_name %}
    Выдать книгу: {{ book.name }}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            У клиента уже есть книга
        </div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success">
            Книга успешно выдана клиенту: {{ client.first_name }}
        </div>
    {% endif %}

    <p>Автор: {{ book.author }}</p>
    <p>Жанр: {{ book.genre }}</p>
    <p>Год выпуска: {{ book.year }}</p>
    <p>Количество страниц: {{ book.pages }}</p>
    <p>Статус: {{ book.status }}</p>
    <p>Тип издания: {{ book.display_type }}</p>
    <p>Фонд: {{ book.fond.name }}</p>

    <br>
    <form method="POST" action="{% url 'give_book_page' book.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="client_id">Выберите клиента</label>
            <select class="form-control" style="max-width: 300px;" name="client_id" id="client_id">
                {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.first_name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-info">Выдать</button>
        </div>
    </form>
{% endblock %}