{% extends 'base.html' %}

{% block page_name %}
    Главная
{% endblock %}

{% block content %}
    <form class="form-inline" method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <div class="form-group">
            <input style="min-width: 400px;"
                   id="query" name="query"
                   class="form-control" type="text"
                   placeholder="Введите название книги или автора для поиска...">
            <button type="submit" class="btn btn-info">Найти</button>
        </div>
    </form>

    {% if books %}
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Жанр</th>
                    <th>Год</th>
                    <th>Страниц</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td><a href="{% url 'detail_book' book.id %}">{{ book.name }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.genre }}</td>
                        <td>{{ book.year }}</td>
                        <td>{{ book.pages }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}