{% extends 'base.html' %}

{% block page_name %}
    Новый клиент
{% endblock %}

{% block content %}
    {% if success %}
        <div class="alert alert-success">
            Клиент {{ name }} успешно зарегистрирован
        </div>
    {% endif %}

    <form method="POST" action="{% url 'client_page' %}">
        {% csrf_token %}
        <div class="form-group col-xs-6">
            <label for="email">Электронный адрес: </label>
            <input id="email" name="email"
                   class="form-control" type="email">
            <label for="name">Имя: </label>
            <input id="name" name="name"
                   class="form-control" type="text">
            <br>
            <button type="submit" class="btn btn-info">Добавить</button>
        </div>
    </form>
{% endblock %}